@import '_fonts.scss';
@import '_variables.scss';

body {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    margin: 0;
    padding-top: 70px;

    a {
        text-decoration: none;
        color: white;
    }
}

.logo-container {
    height: 64px;
    padding-right: 1.5em;

    .apex-logo {
        height: 40px;
        vertical-align: middle;
    }

    .logo-text {
        line-height: 64px;
        vertical-align: middle;
        text-transform: uppercase;
        padding-left: 0.5em;
        color: rgba(0, 0, 0, 0.75);
        font-weight: bold;
    }
}

.movies-container {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 0 auto;


    .cards-container {
        padding: 1em;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-flow: row wrap;
        flex-wrap: wrap;
        gap: 50px;


        .card-container {
            .movie-card {
                min-height: 250px;

                .movie-poster-container {
                    position: relative;

                    .category-container {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        gap: 3px;

                        .category-item {
                            display: inline-block;
                            font-weight: bold;
                            font-size: 12px;
                            padding: 2px 3px;
                            height: 16px;
                            line-height: 16px;
                            background-color: $primary-color;
                        }
                    }

                    .movie-rating-container {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        width: 30px;
                        height: 30px;
                        font-size: 0.9em;
                        background-color: rgba(0, 0, 0, 0.75);
                        color: white;
                        font-weight: 900;
                        text-align: center;
                        line-height: 30px;
                    }

                    .movie-poster {
                        min-height: 340px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .movie-title-container {
                    height: 40px;
                    vertical-align: middle;
                    font-weight: bold;
                    text-align: center;
                    justify-content: center;
                    display: flex;
                    align-items: center;

                    a {
                        color: black;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}


.movie-details-container {
    display: flex;
    justify-content: flex-start;

    .image {
        margin: 0;
        padding: 0;        
    }

    .info {
        width: 100%;
        height: 100%;

        .info-container {
            position: relative;
            padding: 1.5em;

            .score-container {
                position: absolute;
                top: 2em;
                right: 2em;
                line-height: 18px;
                font-weight: bold;
                font-size: 18px;                
            }

            p {
                line-height: 1.75em;                
            }

            .buttons-container {
                padding-top: 2em;
            }
        }
    }
}

.loading-container {
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.35);

    .loading-inner {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;

        .loading-content {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}